#dropdown-blog{
    .disss{
        display: flex !important;
        align-items: center;
        gap: 20px;
        .dimg{
            width: 21%;
            height: 21%;
        }
        h6{
            padding-top: 30px;
            color: black;
            font-size: 14px;
        }
        p{
            color: black;
           font-size: 14px;
           font-weight: 700;
        }
    }
 
}